 <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="/home">Trang chủ</a>
            <span class="breadcrumb-item active">Về chúng tôi</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>About Us</h1>
            <div class="img-sec">
                <img src="/images/about.jpg" alt="about">
               <p>Công ty của chúng tôi dù chưa lớn, nhưng là 1 công ty rất có tiềm năng phát triển
                   ngoài ra, chúng tôi còn được công nhận là một trong những trang web có lượng nội
                   dung phong phú hất dành cho trẻ vị thành niên
               </p>
        </div>
    </section>