
<form action="tests" method="get">
  <p>Lọc</p>
   <input type="text" name="author" >
  <select class="select"name = "test" id="books-type" >
    <option selected="selected" value = "1">Tất cả</option>
    <option value="light novel">light novel</option>
    <option value="novel">novel</option>
    <option value="manga">manga</option>
    <option value="giáo trình">Giáo trình</option>
    
</select>
<select class="select"name = "test2" id="cost" >
   <option selected="selected" value = "1"></option>
    <option value="2">Nhỏ hơn 50000đ</option>
    <option value="3">Từ 50000đ tới 100000đ</option>
    <option value="4">Từ 100000đ tới 200000đ</option>
    <option value="5">Trên 200000</option>
    
</select>
<select class="select"name = "test3" id="Orderby" >
   <option selected="selected" value = "1"></option>
    <option value="ASC">Tăng dần</option>
    <option value="DESC">Giảm dần</option>
    
</select>

  
  <input type="submit" value="Submit">
</form>
