
  <section class="slider">
    <div class="container">
      <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
          <div class="slide">
            <img src="/images/slide1.jpg" alt="slide1">
            <div class="content">
              <div class="title">
                <h3>Chào mừng bạn đến với cửa hàng sách của chúng tôi</h3>
                <h5>Cùng nhau khám phá cửa hàng nào</h5>
                
                <a href="shop" class="btn">Mua sách ngay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slide">
            <img src="/images/slide2.jpg" alt="slide1">
            <div class="content">
              <div class="title">
                <h3>Đồ án cuối kỳ</h3>
                <h5>Môn học: Lập trình Web</h5>
                <a href="shop" class="btn">Mua sách ngay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slide">
            <img src="/images/slide3.jpg" alt="slide1">
            <div class="content">
              <div class="title">
                <h3>MSSV: 1712789</h3>
                <h5>Tên: Đỗ Quang Thịnh</h5>
                <a href="shop" class="btn">Mua sách ngay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slide">
            <img src="/images/slide4.jpg" alt="slide1">
            <div class="content">
              <div class="title">
                <h3>MSSV: 1712805</h3>
                <h5>Tên: Lê Đức Thuận</h5>
                <a href="shop" class="btn">Mua sách ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="about-sec">
    <div class="about-img">
      <figure style="background:url(./images/about-img.jpg)no-repeat;"></figure>
    </div>
    <div class="about-content">
      <h2>About bookstore,</h2>
      <p>Công ty của chúng tôi dù chưa lớn, nhưng là 1 công ty rất có tiềm năng phát triển
                   ngoài ra, chúng tôi còn được công nhận là một trong những trang web có lượng nội
                   dung phong phú hất dành cho trẻ vị thành niên, ngoài ra chúng tôi tự hào có tốc
                   độ giao hàng nhanh nhất cả nước
               </p>
      <div class="btn-sec">
        <a href="/shop" class="btn yellow">shop</a>
        <a href="/login" class="btn black">Đăng nhập</a>
      </div>
    </div>
  </section>
  
  <section class="features-sec">
    <div class="container">
      <ul>
        <li>
          <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
          <h3>An toàn mua sắm</h3>
          <h5>Đảm bảo an toàn sản phẩm</h5>
          <h6>Chúng tôi xin hứa sẽ bảo quản sản phẩm cẩn thận nhất có thể cho tới khi 
            tới tay bạn
          </h6>
        </li>
        <li>
          <span class="icon return"><i class="fa fa-reply-all" aria-hidden="true"></i></span>
          <h3>30- Ngày hoàn tiền</h3>
          <h5>Đảm bảo hoàn tiền</h5>
          <h6>Nếu không hài lòng về sản phẩm, bạn có thể liên hệ gửi trả lại cho công ty và được hoàn trả lại
            100% số tiền
          </i></nav></h6>
        </li>
        <li>
          <span class="icon chat"><i class="fa fa-comments" aria-hidden="true"></i></span>
          <h3>Trợ giúp 24/7 </h3>
          <h5>Hỗ trợ online</h5>
          <h6>Chúng tôi có 1 đội ngũ có thể lắng nghe và tư vấn thông tin
            cho bạn 24/7
          </h6>
        </li>
      </ul>
    </div>
  </section>
  
  <section class="testimonial-sec">
    <div class="container">
      <div id="testimonal" class="owl-carousel owl-theme">
        <div class="item">
          <h3>"Đọc sách hay cũng giống như trò chuyện với các bộ óc tuyệt vời nhất của những thế kỷ đã trôi qua.”</h3>
          <div class="box-user">
            <h4 class="author">Rene Descartes</h4>
           
          </div>
        </div>
        <div class="item">
          <h3>"Vào khoảnh khắc mà chúng ta quyết thuyết phục đứa trẻ, bất cứ đứa trẻ nào,
             bước qua bậc thềm ấy, bậc thềm màu nhiệm dẫn vào thư viện,
              ta thay đổi cuộc sống của nó mãi mãi, theo cách tốt đẹp hơn.”</h3>
          <div class="box-user">
            <h4 class="author">Barack Obama</h4>
           
          </div>
        </div>
        <div class="item">
          <h3>6. "Tôi đọc lòi cả mắt và vẫn không đọc được tới một
            nửa... người ta càng đọc nhiều, người ta càng thấy còn nhiều điều cần phải đọc.”</h3>
          <div class="box-user">
            <h4 class="author">John Adams</h4>
           
          </div>
        </div>
        <div class="item">
          <h3>"Chính từ sách mà những người khôn ngoan tìm được sự an ủi khỏi những rắc rối của cuộc đời.”</h3>
          <div class="box-user">
            <h4 class="author">Victor Hugo</h4>
            
          </div>
        </div>
      </div>
    </div>
    <div class="left-quote">
      <img src="/images/left-quote.png" alt="quote">
    </div>
    <div class="right-quote">
      <img src="/images/right-quote.png" alt="quote">
    </div>
  </section>
