  <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="/">Trang chủ</a>
            <span class="breadcrumb-item active">Đăng nhập</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>Đăng nhập</h1>
           <form action="/login" method="post">
        
            <div>
                <label>Tên đăng nhập:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Mật khẩu:</label>
                <input type="password" name="password"/>
            </div>
            
            <div>
                <input type="submit" value="Log In"/>
            </div>
            {{message}}
        </form>
        <div> <a href="change_password">Đổi mật khẩu</a></div>
       
        </div>
    </section>