  <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="/">Trang chủ</a>
            <span class="breadcrumb-item active">Đăng nhập</span>
        </div>
    </div>
   
          <div class="wrapper">
    <form class="form-signin"  action="/login" method="post">       
      <h2 class="form-signin-heading">Đăng nhập</h2>
      <input type="text" class="form-control" name="username"  required=""  />
      <input type="password" class="form-control" name="password"  required=""/>      
     
      <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>   
      {{message}}
    </form>
     
  </div>
  
  